:root {
  --collection-dimensions-grid-spacing-narrow: 70px;
  --collection-prototype-show-project-summaries: initial;
  --collection-dimensions-grid-offset: -51px;
  --collection-dimensions-time-shift: 1px;
  --collection-dimensions-ribbon-offset: 14px;
}
